@require('../main');

+prefix-classes(prefix)

	.notification
		position absolute
		height 100%
		margin 20px 0 10px 0
		text-align center
		top 0
		width 100%
		
		span 
			display inline-block
			margin 0px auto